.container-contacto {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 14vh;
}

textarea#message {
  height: 200px;
}

.container {
  max-width: 100%;
}

button {
  padding: 12px 30px;
  border: 0;
  border-radius: 50px;
  transition: 0.4s;
}

button[type="submit"] {
  color: #fff;
  background: $backgroundContact;
}

.contact {
  margin-top: 8rem;
}

.row {
  padding: 45px;
  margin: 0;
}