<footer class="uoc-footer">
    <nav class="navbar">
        <a href="./index.html" class="navbar-brand"><span class="chess">Chess</span><span class="fun">Fun</span></a>
        <ul class="navbar-nav flex-row justify-content-center">
            <li class="nav-item p-2">
                <a class="nav-link" href="./index.html">Inicio</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="./members.html">Normativa</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="./members.html">Miembros</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="./contact.html">Contacto</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto flex-row">
            <li class="nav-item social-icon">
                <a href=""><i class="fab fa-google-plus-g"></i></a>
            </li>
            <li class="nav-item social-icon">
                <a href=""><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item social-icon">
                <a href=""><i class="fab fa-twitter"></i></a>
            </li>
        </ul>
    </nav>
</footer>
